node_modules
.pnpm-store

dist
build
dist-ssr
*.local

coverage
.nyc_output

.env
.env.*
!.env.example

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

*.tsbuildinfo
.tmp

.DS_Store
Thumbs.db

.idea
.vscode/*
!.vscode/extensions.json

*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

.turbo
.cache
*.pem
